<!DOCTYPE html>
<html>

<head>

<title>后台用户管理</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="优良宝" />
	<meta name="keywords" content="优良宝" />
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />



	<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/morris.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/pickday.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css?rev=d1a013b72cd7e9bf05ed8bbe94cc1afb" />
</head>

<body>
	<header class="op-header"><img src="images/logo.png" /><a class="logout">注销登录</a></header>
	<section class="layout-main">
		<div class="op-left" id="layout-main" v-cloak>
			<ul>
				<li v-show="role=='Admin'||role=='Marketing'||role=='GeneralManager'||role=='LegalInspection'"><a href="order.html"><i class="fa fa-money"></i>做单查询</a></li>
				<li v-show="role=='Admin'||role=='FinancialAffairs'||role=='GeneralManager'||role=='LegalInspection'"><a href="transfers.html"><i class="fa fa-money"></i>提现管理</a></li>
				<li v-show="role=='Admin'||role=='GeneralManager'"><a href="upgraderight.html"><i class="fa fa-money"></i>提升区域经理</a></li>
				<li v-show="role=='Admin'"><a href="cashpool.html"><i class="fa fa-money"></i>资金池统计</a></li>
				<li v-show="role=='Admin'||role=='CustomerService'"><a href="product.html"><i class="fa fa-money"></i>商品管理</a></li>
				<li v-show="role=='Admin'||role=='CustomerService'"><a href="kind.html"><i class="fa fa-money"></i>商品分类管理</a></li>
				<li v-show="role=='Admin'||role=='Marketing'||role=='CustomerService'"><a href="onlineorder.html"><i class="fa fa-money"></i>商城订单管理</a></li>
				<li v-show="role=='Admin'||role=='CustomerService'"><a href="refund.html"><i class="fa fa-money"></i>客服退单管理</a></li>
				<li v-show="role=='Admin'||role=='FinancialAffairs'"><a href="refundmoney.html"><i class="fa fa-money"></i>财务退单管理</a></li>
				<li v-show="role=='Admin'||role=='GeneralManager'"><a href="downgraderight.html"><i class="fa fa-money"></i>降权管理</a></li>
				<li v-show="role=='Admin'||role=='CustomerService'"><a href="banner.html"><i class="fa fa-money"></i>首页管理</a></li>
				<li v-show="role=='Admin'||role=='Marketing'||role=='GeneralManager'||role=='LegalInspection'"><a href="users.html"><i class="fa fa-money"></i>有效用户</a></li>
				<li v-show="role=='Admin'||role=='FinancialAffairs'||role=='GeneralManager'"><a href="wages.html"><i class="fa fa-money"></i>工资管理</a></li>
				<li v-show="role=='Admin'||role=='GeneralManager'"><a href="toarea.html"><i class="fa fa-money"></i>体验积分</a></li>
				<li v-show="role=='Admin'"><a href="account.html"><i class="fa fa-money"></i>后台账号管理</a></li>
				<li v-show="role=='Admin'"><a href="config.html"><i class="fa fa-money"></i>配置管理</a></li>
			</ul>
		</div>
		<div class="op-right">

<div class="account-main" id="account-main" v-cloak>
    <h1>后台用户管理<a @click="newaccount">新建用户</a></h1>
    <table>
        <tr>
            <th>用户名</th>
            <th>角色</th>
            <th>操作</th>
        </tr>
        <tr v-for="u in list">
            <td>{{u.userName}}</td>
            <td>
                <em v-if="u.role=='Admin'">超级管理员</em>
                <em v-if="u.role=='Marketing'">市场部</em>
                <em v-if="u.role=='FinancialAffairs'">财务部</em>
                <em v-if="u.role=='CustomerService'">网购部</em>
                <em v-if="u.role=='GeneralManager'">总经理</em>
                <em v-if="u.role=='LegalInspection'">法务部</em>
            </td>
            <td>
                <a @click="editaccount($index)">修改密码</a>
                <a @click="delaccount(u.staffID)">删除</a>
            </td>
        </tr>
    </table>
    <div class="ylb-graybox" v-show="edita">
        <ul>
            <li><span>用户名</span>{{ea.userName}}</li>
            <li><span>角色</span><em v-if="ea.role=='Admin'">超级管理员</em>
                <em v-if="ea.role=='Marketing'">市场部</em>
                <em v-if="ea.role=='FinancialAffairs'">财务部</em>
                <em v-if="ea.role=='CustomerService'">网购部</em>
                <em v-if="ea.role=='GeneralManager'">总经理</em>
                <em v-if="ea.role=='LegalInspection'">法务部</em></li>
            <li><span>密码</span><input v-model="ea.password" type="password"></li>
            <li><a @click="updateaccount">确认</a><a @click="hideall">取消</a></li>
        </ul>
    </div>
    <div class="ylb-graybox" v-show="newa">
        <ul>
            <li><span>用户名</span><input v-model="na.name" type="text"></li>
            <li><span>角色</span><select @change="nselrole">
                <option value="">-请选择-</option>
                <option value="Admin">超级管理员</option>
                <option value="Marketing">市场部</option>
                <option value="FinancialAffairs">财务部</option>
                <option value="CustomerService">网购部</option>
                <option value="GeneralManager">总经理</option>
                <option value="LegalInspection">法务部</option>
                </select></li>
            <li><span>密码</span><input v-model="na.password" type="password"></li>
            <li><a @click="createaccount">新增</a><a @click="hideall">取消</a></li>
        </ul>
    </div>
    <div class="ylb-cover" v-show="cover" @click="hideall"></div>
</div>

		</div>
	</section>
</body>
<script src="js/libs/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="js/libs/bootstrap.min.js" type="text/javascript"></script>
<script src="js/libs/dropzone.js" type="text/javascript"></script>
<script src="js/libs/pickday.min.js" type="text/javascript"></script>
<script src="js/libs/vue.min.js" type="text/javascript"></script>
<script src="js/libs/echarts.min.js" type="text/javascript"></script>
<script src="js/base.js?rev=d1a013b72cd7e9bf05ed8bbe94cc1afb" type="text/javascript"></script>


<script type="text/javascript" src="js/account.js?rev=d1a013b72cd7e9bf05ed8bbe94cc1afb"></script>


</html>