<!DOCTYPE html>
<html>

<head>

<title>资金池</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="优良宝" />
	<meta name="keywords" content="优良宝" />
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />



	<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/morris.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/pickday.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css?rev=9406b60b49e1e5922db70f4d1fe12f32" />
</head>

<body>
	<header class="op-header"><img src="images/logo.png" /><a class="logout">注销登录</a></header>
	<section class="layout-main">
		<div class="op-left" id="layout-main" v-cloak>
			<ul>
				<li data-role="order" v-show="role=='Admin'||role=='Marketing'||role=='GeneralManager'||role=='LegalInspection'"><a href="order.html"><i class="fa fa-money"></i>做单查询</a></li>
				<li data-role="transfers" v-show="role=='Admin'||role=='FinancialAffairs'||role=='GeneralManager'||role=='LegalInspection'"><a href="transfers.html"><i class="fa fa-money"></i>提现管理</a></li>
				<li data-role="upgraderight" v-show="role=='Admin'||role=='GeneralManager'"><a href="upgraderight.html"><i class="fa fa-money"></i>提升区域经理</a></li>
				<li data-role="cashpool" v-show="role=='Admin'"><a href="cashpool.html"><i class="fa fa-money"></i>资金池统计</a></li>
				<li data-role="product" v-show="role=='Admin'||role=='CustomerService'"><a href="product.html"><i class="fa fa-money"></i>商品管理</a></li>
				<li data-role="kind" v-show="role=='Admin'||role=='CustomerService'"><a href="kind.html"><i class="fa fa-money"></i>商品分类管理</a></li>
				<li data-role="onlineorder" v-show="role=='Admin'||role=='Marketing'||role=='CustomerService'"><a href="onlineorder.html"><i class="fa fa-money"></i>商城订单管理</a></li>
				<li data-role="refund" v-show="role=='Admin'||role=='CustomerService'"><a href="refund.html"><i class="fa fa-money"></i>客服退单管理</a></li>
				<li data-role="refundmoney" v-show="role=='Admin'||role=='FinancialAffairs'"><a href="refundmoney.html"><i class="fa fa-money"></i>财务退单管理</a></li>
				<li data-role="downgraderight" v-show="role=='Admin'||role=='GeneralManager'"><a href="downgraderight.html"><i class="fa fa-money"></i>降权管理</a></li>
				<li data-role="banner" v-show="role=='Admin'||role=='CustomerService'"><a href="banner.html"><i class="fa fa-money"></i>首页管理</a></li>
				<li data-role="users" v-show="role=='Admin'||role=='Marketing'||role=='GeneralManager'||role=='LegalInspection'"><a href="users.html"><i class="fa fa-money"></i>有效用户</a></li>
				<li data-role="wages" v-show="role=='Admin'||role=='FinancialAffairs'||role=='GeneralManager'"><a href="wages.html"><i class="fa fa-money"></i>工资管理</a></li>
				<li data-role="toarea" v-show="role=='Admin'||role=='GeneralManager'"><a href="toarea.html"><i class="fa fa-money"></i>体验积分</a></li>
				<li data-role="account" v-show="role=='Admin'"><a href="account.html"><i class="fa fa-money"></i>后台账号管理</a></li>
				<li data-role="config" v-show="role=='Admin'"><a href="config.html"><i class="fa fa-money"></i>配置管理</a></li>
			</ul>
		</div>
		<div class="op-right">

<div class="cashpool-main" id="cashpool-main" v-cloak>
    <div class="ylb-filter">
        <em>选择时间</em><input id="fst" v-model="st" placeholder="选择开始时间" type="text">~<input v-model="et" placeholder="选择结束时间" id="fet" type="text">
        <a @click="filtercash">筛选</a>
    </div>
    <h1>平台充值总额：<em>{{info.totalRecharge}}</em>元，平台用户总余额：<em>{{info.balance}}</em>元<br> 申请转出总额：
        <em>{{info.totalTransfer}}</em>元， 同意转出金额：
        <em>{{info.paidTransfer}}</em>元 (货款池:
        <em>{{info.paidTransferDetail.PaymentForGoods}}</em>元， 服务费池:
        <em>{{info.paidTransferDetail.Commission}}</em>元， 平台费池:
        <em>{{info.paidTransferDetail.Balance}}</em>元)</h1>
    <h2>计算公式： 剩余资金({{info.totalRecharge-info.balance-info.paidTransfer}}) = 平台充值总额-平台用户总余额-已转出金额</h2>
    <div class="cashpool-tap">
        <a :class="{'active':t1}" @click="changetap(1)">货款资金池</a>
        <a :class="{'active':t2}" @click="changetap(2)">平台资金池</a>
        <a :class="{'active':t3}" @click="changetap(3)">服务费资金池</a>
    </div>
    <div class="cashpool-wrap" v-show="t1">
        <p><a href="poolinfo.html?k=PaymentForGoods&st={{st}}&et={{et}}">查看进出账详情</a></p>
        <div class="cashpool-echarts" id="goods"></div>
    </div>
    <div class="cashpool-wrap" v-show="t2">
        <p><a href="poolinfo.html?k=PlatFormFee&st={{st}}&et={{et}}">查看进出账详情</a></p>
        <div class="cashpool-echarts" id="plat"></div>
    </div>
    <div class="cashpool-wrap" v-show="t3">
        <p><a href="poolinfo.html?k=ServiceFee&st={{st}}&et={{et}}">查看进出账详情</a></p>
        <div class="cashpool-echarts" id="service"></div>
    </div>
</div>

		</div>
	</section>
</body>
<script src="js/libs/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="js/libs/bootstrap.min.js" type="text/javascript"></script>
<script src="js/libs/dropzone.js" type="text/javascript"></script>
<script src="js/libs/pickday.min.js" type="text/javascript"></script>
<script src="js/libs/vue.min.js" type="text/javascript"></script>
<script src="js/libs/echarts.min.js" type="text/javascript"></script>
<script src="js/base.js?rev=9406b60b49e1e5922db70f4d1fe12f32" type="text/javascript"></script>


<script type="text/javascript" src="js/cashpool.js?rev=9406b60b49e1e5922db70f4d1fe12f32"></script>


</html>