<!DOCTYPE html>
<html>

<head>

<title>配置管理</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="优良宝" />
	<meta name="keywords" content="优良宝" />
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />



	<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/morris.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/pickday.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css?rev=ac1dab41efa1d2178dc5abbb9f383fbc" />
</head>

<body>
	<header class="op-header"><img src="images/logo.png" /><a class="logout">注销登录</a></header>
	<section class="layout-main">
		<div class="op-left" id="layout-main" v-cloak>
			<ul>
				<li v-show="role=='Admin'||role=='Marketing'||role=='GeneralManager'||role=='LegalInspection'"><a href="order.html"><i class="fa fa-money"></i>做单查询</a></li>
				<li v-show="role=='Admin'||role=='FinancialAffairs'||role=='GeneralManager'||role=='LegalInspection'"><a href="transfers.html"><i class="fa fa-money"></i>提现管理</a></li>
				<li v-show="role=='Admin'||role=='GeneralManager'"><a href="upgraderight.html"><i class="fa fa-money"></i>提升区域经理</a></li>
				<li v-show="role=='Admin'"><a href="cashpool.html"><i class="fa fa-money"></i>资金池统计</a></li>
				<li v-show="role=='Admin'||role=='CustomerService'"><a href="product.html"><i class="fa fa-money"></i>商品管理</a></li>
				<li v-show="role=='Admin'||role=='Marketing'||role=='CustomerService'"><a href="onlineorder.html"><i class="fa fa-money"></i>商城订单管理</a></li>
				<li v-show="role=='Admin'||role=='GeneralManager'"><a href="downgraderight.html"><i class="fa fa-money"></i>降权管理</a></li>
				<li v-show="role=='Admin'||role=='CustomerService'"><a href="banner.html"><i class="fa fa-money"></i>首页管理</a></li>
				<li v-show="role=='Admin'||role=='Marketing'||role=='GeneralManager'||role=='LegalInspection'"><a href="users.html"><i class="fa fa-money"></i>有效用户</a></li>
				<li v-show="role=='Admin'||role=='FinancialAffairs'||role=='GeneralManager'"><a href="wages.html"><i class="fa fa-money"></i>工资管理</a></li>
				<li v-show="role=='Admin'||role=='GeneralManager'"><a href="toarea.html"><i class="fa fa-money"></i>体验积分</a></li>
				<li v-show="role=='Admin'"><a href="account.html"><i class="fa fa-money"></i>后台账号管理</a></li>
				<li v-show="role=='Admin'"><a href="config.html"><i class="fa fa-money"></i>配置管理</a></li>
			</ul>
		</div>
		<div class="op-right">

<div class="config-main" id="config-main" v-cloak>
    <h1>配置管理</h1>
    <ul>
        <li v-for="c in option">
            <span v-if="c.key=='commissionRate'" data-key="{{c.key}}">佣金比例(%)</span>
            <span v-if="c.key=='serviceFeeRate'" data-key="{{c.key}}">服务费资金池比例(%)</span>
            <span v-if="c.key=='platformFeeRate'" data-key="{{c.key}}">平台费比例(%)</span>
            <span v-if="c.key=='poundageRate'" data-key="{{c.key}}">手续费比例(%)</span>
            <span v-if="c.key=='givingScoreMaxDeductionRate'" data-key="{{c.key}}">做单最大抵扣比例(%)</span>
            <span v-if="c.key=='shoppingOfflineMaxDeductionRate'" data-key="{{c.key}}">积分兑换最大抵扣比例(%)</span>
            <span v-if="c.key=='givingScoreOrderRefundTimeLimit'" data-key="{{c.key}}">做单退款时限(天)</span>
            <span v-if="c.key=='signInReward'" data-key="{{c.key}}">手动领取积分额度</span>
            <span v-if="c.key=='automaticReward'" data-key="{{c.key}}">自动送积分额度</span>
            <span v-if="c.key=='signInRewardOpen'" data-key="{{c.key}}">手动领积分功能是否开启，0关闭1开启</span>
            <span v-if="c.key=='scoreToPointRate'" data-key="{{c.key}}">积分点生成消费数</span>
            <span v-if="c.key=='cashToScoreRate'" data-key="{{c.key}}">现金消费产生积分比例</span>
            <span v-if="c.key=='recommendedNumber'" data-key="{{c.key}}">申请客户经理需要推荐用户数</span>
            <span v-if="c.key=='areaManagerWageRate'" data-key="{{c.key}}">区域经理工资比例(%)</span>
            <span v-if="c.key=='customerManagerWageRate'" data-key="{{c.key}}">客户经理工资比例(%)</span>
            <span v-if="c.key=='shoppingOnlineOrderRefundTimeLimit'" data-key="{{c.key}}">线上购物退款时限(天)</span>
            <span v-if="c.key=='areaManagerRecommendCommissionRate'" data-key="{{c.key}}">区域推荐提成(%)</span>
            <input v-model="c.value" type="text">
            <a @click="edit" data-key="{{c.key}}" data-value="{{c.value}}">编辑</a>
        </li>
    </ul>
</div>

		</div>
	</section>
</body>
<script src="js/libs/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="js/libs/bootstrap.min.js" type="text/javascript"></script>
<script src="js/libs/dropzone.js" type="text/javascript"></script>
<script src="js/libs/pickday.min.js" type="text/javascript"></script>
<script src="js/libs/vue.min.js" type="text/javascript"></script>
<script src="js/libs/echarts.min.js" type="text/javascript"></script>
<script src="js/base.js?rev=ac1dab41efa1d2178dc5abbb9f383fbc" type="text/javascript"></script>


<script type="text/javascript" src="js/config.js?rev=ac1dab41efa1d2178dc5abbb9f383fbc"></script>


</html>