<!DOCTYPE html>
<html>

<head>

<title>降权管理</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="优良宝" />
	<meta name="keywords" content="优良宝" />
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />



	<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/morris.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/pickday.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css?rev=fbe880ce071e565946dcc0b44dea747c" />
</head>

<body>
	<header class="op-header"><img src="images/logo.png" /><a class="logout">注销登录</a></header>
	<section class="layout-main">
		<div class="op-left" id="layout-main" v-cloak>
			<ul>
				<li v-show="role=='Admin'||role=='Marketing'||role=='GeneralManager'||role=='LegalInspection'"><a href="order.html"><i class="fa fa-money"></i>做单查询</a></li>
				<li v-show="role=='Admin'||role=='FinancialAffairs'||role=='GeneralManager'||role=='LegalInspection'"><a href="transfers.html"><i class="fa fa-money"></i>提现管理</a></li>
				<li v-show="role=='Admin'||role=='GeneralManager'"><a href="upgraderight.html"><i class="fa fa-money"></i>提升区域经理</a></li>
				<li v-show="role=='Admin'"><a href="cashpool.html"><i class="fa fa-money"></i>资金池统计</a></li>
				<li v-show="role=='Admin'||role=='CustomerService'"><a href="product.html"><i class="fa fa-money"></i>商品管理</a></li>
				<li v-show="role=='Admin'||role=='CustomerService'"><a href="kind.html"><i class="fa fa-money"></i>商品分类管理</a></li>
				<li v-show="role=='Admin'||role=='Marketing'||role=='CustomerService'"><a href="onlineorder.html"><i class="fa fa-money"></i>商城订单管理</a></li>
				<li v-show="role=='Admin'||role=='CustomerService'"><a href="refund.html"><i class="fa fa-money"></i>客服退单管理</a></li>
				<li v-show="role=='Admin'||role=='FinancialAffairs'"><a href="refundmoney.html"><i class="fa fa-money"></i>财务退单管理</a></li>
				<li v-show="role=='Admin'||role=='GeneralManager'"><a href="downgraderight.html"><i class="fa fa-money"></i>降权管理</a></li>
				<li v-show="role=='Admin'||role=='CustomerService'"><a href="banner.html"><i class="fa fa-money"></i>首页管理</a></li>
				<li v-show="role=='Admin'||role=='Marketing'||role=='GeneralManager'||role=='LegalInspection'"><a href="users.html"><i class="fa fa-money"></i>有效用户</a></li>
				<li v-show="role=='Admin'||role=='FinancialAffairs'||role=='GeneralManager'"><a href="wages.html"><i class="fa fa-money"></i>工资管理</a></li>
				<li v-show="role=='Admin'||role=='GeneralManager'"><a href="toarea.html"><i class="fa fa-money"></i>体验积分</a></li>
				<li v-show="role=='Admin'"><a href="account.html"><i class="fa fa-money"></i>后台账号管理</a></li>
				<li v-show="role=='Admin'"><a href="config.html"><i class="fa fa-money"></i>配置管理</a></li>
			</ul>
		</div>
		<div class="op-right">

<div class="right-main" id="right-main" v-cloak>
    <div class="right-tips">
        <a @click="togglet(1)" :class="{'active':amshow}">区域经理列表</a><a @click="togglet(2)" :class="{'active':cmshow}">客户经理列表</a><a @click="togglet(3)" :class="{'active':mshow}">加盟商列表</a>
    </div>
    <div v-show="amshow">
        <div class="filters">手机号码<input v-model="af.mobile" type="text">姓名<input v-model="af.name" type="text"><a @click="fam">搜索</a></div>
        <table>
            <tr>
                <th>姓名</th>
                <th>区域</th>
                <th>手机</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            <tr v-for="a in amlist">
                <td>{{a.name}}</td>
                <td>{{a.address}}</td>
                <td>{{a.mobile}}</td>
                <td>{{a.createTime}}</td>
                <td><a @click="todr(a.userID)">降权</a></td>
            </tr>
        </table>
        <div class="ylb-page">
            总共{{Math.ceil(at/sz)}}页，当前第{{acp}}页
            <a @click="aprev">上一页</a>
            <a @click="anext">下一页</a>
            <input v-model="acp" type="text" />
            <a @click="ajump">跳转</a>
        </div>
    </div>
    <div v-show="cmshow">
        <div class="filters">手机号码<input v-model="cf.mobile" type="text">姓名<input v-model="cf.name" type="text"><a @click="fcm">搜索</a></div>
        <table>
            <tr>
                <th>姓名</th>
                <th>区域</th>
                <th>手机</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            <tr v-for="c in cmlist">
                <td>{{c.name}}</td>
                <td>{{c.address}}</td>
                <td>{{c.mobile}}</td>
                <td>{{c.createTime}}</td>
                <td><a @click="todr(c.userID)">降权</a></td>
            </tr>
        </table>
        <div class="ylb-page">
            总共{{Math.ceil(ct/sz)}}页，当前第{{ccp}}页
            <a @click="cprev">上一页</a>
            <a @click="cnext">下一页</a>
            <input v-model="ccp" type="text" />
            <a @click="cjump">跳转</a>
        </div>
    </div>
    <div v-show="mshow">
        <div class="filters">手机号码<input v-model="mf.mobile" type="text">姓名/店铺名<input v-model="mf.name" type="text"><a @click="fm">搜索</a></div>
        <table>
            <tr>
                <th>店铺名</th>
                <th>区域</th>
                <th>手机</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            <tr v-for="m in mlist">
                <td>{{m.name}}</td>
                <td>{{m.address}}</td>
                <td>{{m.mobile}}</td>
                <td>{{m.createTime}}</td>
                <td><a @click="todr(m.userID)">降权</a></td>
            </tr>
        </table>
        <div class="ylb-page">
            总共{{Math.ceil(mt/sz)}}页，当前第{{mcp}}页
            <a @click="mprev">上一页</a>
            <a @click="mnext">下一页</a>
            <input v-model="mcp" type="text" />
            <a @click="mjump">跳转</a>
        </div>
    </div>
</div>

		</div>
	</section>
</body>
<script src="js/libs/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="js/libs/bootstrap.min.js" type="text/javascript"></script>
<script src="js/libs/dropzone.js" type="text/javascript"></script>
<script src="js/libs/pickday.min.js" type="text/javascript"></script>
<script src="js/libs/vue.min.js" type="text/javascript"></script>
<script src="js/libs/echarts.min.js" type="text/javascript"></script>
<script src="js/base.js?rev=fbe880ce071e565946dcc0b44dea747c" type="text/javascript"></script>


<script type="text/javascript" src="js/dright.js?rev=fbe880ce071e565946dcc0b44dea747c"></script>


</html>