<!DOCTYPE html>
<html>

<head>

<title>商城订单管理</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="优良宝" />
	<meta name="keywords" content="优良宝" />
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />



	<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/morris.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/pickday.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css?rev=07a9b5919fba968c0ea53b2262abe5b1" />
</head>

<body>
	<header class="op-header"><img src="images/logo.png" /><a class="logout">注销登录</a></header>
	<section class="layout-main">
		<div class="op-left" id="layout-main" v-cloak>
			<ul>
				<li v-show="role=='Admin'||role=='Marketing'||role=='GeneralManager'||role=='LegalInspection'"><a href="order.html"><i class="fa fa-money"></i>做单查询</a></li>
				<li v-show="role=='Admin'||role=='FinancialAffairs'||role=='GeneralManager'||role=='LegalInspection'"><a href="transfers.html"><i class="fa fa-money"></i>提现管理</a></li>
				<li v-show="role=='Admin'||role=='GeneralManager'"><a href="upgraderight.html"><i class="fa fa-money"></i>提升区域经理</a></li>
				<li v-show="role=='Admin'"><a href="cashpool.html"><i class="fa fa-money"></i>资金池统计</a></li>
				<li v-show="role=='Admin'||role=='CustomerService'"><a href="product.html"><i class="fa fa-money"></i>商品管理</a></li>
				<li v-show="role=='Admin'||role=='CustomerService'"><a href="kind.html"><i class="fa fa-money"></i>商品分类管理</a></li>
				<li v-show="role=='Admin'||role=='Marketing'||role=='CustomerService'"><a href="onlineorder.html"><i class="fa fa-money"></i>商城订单管理</a></li>
				<li v-show="role=='Admin'||role=='CustomerService'"><a href="refund.html"><i class="fa fa-money"></i>客服退单管理</a></li>
				<li v-show="role=='Admin'||role=='FinancialAffairs'"><a href="refundmoney.html"><i class="fa fa-money"></i>财务退单管理</a></li>
				<li v-show="role=='Admin'||role=='GeneralManager'"><a href="downgraderight.html"><i class="fa fa-money"></i>降权管理</a></li>
				<li v-show="role=='Admin'||role=='CustomerService'"><a href="banner.html"><i class="fa fa-money"></i>首页管理</a></li>
				<li v-show="role=='Admin'||role=='Marketing'||role=='GeneralManager'||role=='LegalInspection'"><a href="users.html"><i class="fa fa-money"></i>有效用户</a></li>
				<li v-show="role=='Admin'||role=='FinancialAffairs'||role=='GeneralManager'"><a href="wages.html"><i class="fa fa-money"></i>工资管理</a></li>
				<li v-show="role=='Admin'||role=='GeneralManager'"><a href="toarea.html"><i class="fa fa-money"></i>体验积分</a></li>
				<li v-show="role=='Admin'"><a href="account.html"><i class="fa fa-money"></i>后台账号管理</a></li>
				<li v-show="role=='Admin'"><a href="config.html"><i class="fa fa-money"></i>配置管理</a></li>
			</ul>
		</div>
		<div class="op-right">

<div class="online-main" id="online-main" v-cloak>
    <table>
        <tr>
            <th>订单号</th>
            <th>商品名</th>
            <th>数量</th>
            <th>总价</th>
            <th>抵用积分</th>
            <th>运费</th>
            <th>收件人</th>
            <th>联系方式</th>
            <th>发货地址</th>
            <th>操作</th>
        </tr>
        <tr v-for="o in list">
            <td>{{o.orderID}}</td>
            <td>
                <p v-for="p in o.items">{{p.name}}</p>
            </td>
            <td>
                <p v-for="c in o.items">{{c.quantity}}</p>
            </td>
            <td>{{o.totalPrice}}</td>
            <td>{{o.score}}</td>
            <td>{{o.freight}}</td>
            <td>{{o.name}}</td>
            <td>{{o.mobile}}</td>
            <td>{{o.address}}</td>
            <td>
                <p v-if="o.orderStatus=='New'"><a @click="showexpress(o.orderID)">发货</a></p>
                <p v-if="o.orderStatus=='Sent'">已发货</p>
                <p v-if="o.orderStatus=='Complete'">交易完成</p>
            </td>
        </tr>
    </table>
    <div class="ylb-page">
        总共{{Math.ceil(t/sz)}}页，当前第{{cp}}页
        <a @click="prev">上一页</a>
        <a @click="next">下一页</a>
        <input v-model="cp" type="text" />
        <a @click="jump">跳转</a>
    </div>
    <div class="ylb-cover" @click="hideall" v-show="cover"></div>
    <div class="ylb-graybox" v-show="express">
        <ul>
            <li>
                <span>订单号</span><em>{{send.orderID}}</em>
            </li>
            <li><span>快递公司</span><input v-model="send.expressName" type="text" /></li>
            <li><span>快递单号</span><input v-model="send.expressID" type="text" /></li>
            <li><a @click="sendgoods">发货</a></li>
        </ul>
    </div>
</div>

		</div>
	</section>
</body>
<script src="js/libs/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="js/libs/bootstrap.min.js" type="text/javascript"></script>
<script src="js/libs/dropzone.js" type="text/javascript"></script>
<script src="js/libs/pickday.min.js" type="text/javascript"></script>
<script src="js/libs/vue.min.js" type="text/javascript"></script>
<script src="js/libs/echarts.min.js" type="text/javascript"></script>
<script src="js/base.js?rev=07a9b5919fba968c0ea53b2262abe5b1" type="text/javascript"></script>


<script type="text/javascript" src="js/online.js?rev=07a9b5919fba968c0ea53b2262abe5b1"></script>


</html>