<!DOCTYPE html>
<html>

<head>

<title>直接赠送积分</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="优良宝" />
	<meta name="keywords" content="优良宝" />
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />



	<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/morris.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/pickday.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css?rev=0c7c3cb6581e1141463ed592320f7c5f" />
</head>

<body>

<section class="sendpoint-main" id="sendpoint-main" v-cloak>
    <div class="op-header"><img src="images/logo.png" /></div>
    <div class="op-left">
        <ul>
            <li><a href="upgraderight.html"><i class="fa fa-comments"></i>提升权限</a></li>
            <li><a href="sendpoint.html"><i class="fa fa-dashboard"></i>直送积分</a></li>
        </ul>
    </div>
    <div class="op-right">
        <ul>
            <li><span>手机号</span>
                <input maxlength="11" v-model="mobile" type="text"></li>
            <li><span>积分数</span>
                <input v-model="score" type="text"></li>
            <li><a @click="toupgrade" class="btn-submit">提交</a></li>
        </ul>
    </div>
</section>

</body>
<script src="js/libs/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="js/libs/bootstrap.min.js" type="text/javascript"></script>
<script src="js/libs/dropzone.js" type="text/javascript"></script>
<script src="js/libs/pickday.min.js" type="text/javascript"></script>
<script src="js/libs/vue.min.js" type="text/javascript"></script>
<script src="js/libs/echarts.min.js" type="text/javascript"></script>
<script src="js/base.js?rev=0c7c3cb6581e1141463ed592320f7c5f" type="text/javascript"></script>


<script type="text/javascript" src="js/sendpoint.js?rev=0c7c3cb6581e1141463ed592320f7c5f"></script>


</html>