<!DOCTYPE html>
<html>

<head>

<title>资产转出管理</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="优良宝" />
	<meta name="keywords" content="优良宝" />
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />



	<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/morris.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/pickday.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css?rev=cb90b5aef2a4bdc4d41df78a1c8ef984" />
</head>

<body>
	<header class="op-header"><img src="images/logo.png" /><a class="logout">注销登录</a></header>
	<section class="layout-main">
		<div class="op-left" id="layout-main" v-cloak>
			<ul>
				<li data-role="order" v-show="role=='Admin'||role=='Marketing'||role=='GeneralManager'||role=='LegalInspection'"><a href="order.html"><i class="fa fa-money"></i>做单查询</a></li>
				<li data-role="transfers" v-show="role=='Admin'||role=='FinancialAffairs'||role=='GeneralManager'||role=='LegalInspection'"><a href="transfers.html"><i class="fa fa-money"></i>提现管理</a></li>
				<li data-role="upgraderight" v-show="role=='Admin'||role=='GeneralManager'"><a href="upgraderight.html"><i class="fa fa-money"></i>提升区域经理</a></li>
				<li data-role="cashpool" v-show="role=='Admin'"><a href="cashpool.html"><i class="fa fa-money"></i>资金池统计</a></li>
				<li data-role="product" v-show="role=='Admin'||role=='CustomerService'"><a href="product.html"><i class="fa fa-money"></i>商品管理</a></li>
				<li data-role="kind" v-show="role=='Admin'||role=='CustomerService'"><a href="kind.html"><i class="fa fa-money"></i>商品分类管理</a></li>
				<li data-role="onlineorder" v-show="role=='Admin'||role=='Marketing'||role=='CustomerService'"><a href="onlineorder.html"><i class="fa fa-money"></i>商城订单管理</a></li>
				<li data-role="refund" v-show="role=='Admin'||role=='CustomerService'"><a href="refund.html"><i class="fa fa-money"></i>客服退单管理</a></li>
				<li data-role="refundmoney" v-show="role=='Admin'||role=='FinancialAffairs'"><a href="refundmoney.html"><i class="fa fa-money"></i>财务退单管理</a></li>
				<li data-role="downgraderight" v-show="role=='Admin'||role=='GeneralManager'"><a href="downgraderight.html"><i class="fa fa-money"></i>降权管理</a></li>
				<li data-role="banner" v-show="role=='Admin'||role=='CustomerService'"><a href="banner.html"><i class="fa fa-money"></i>首页管理</a></li>
				<li data-role="users" v-show="role=='Admin'||role=='Marketing'||role=='GeneralManager'||role=='LegalInspection'"><a href="users.html"><i class="fa fa-money"></i>有效用户</a></li>
				<li data-role="wages" v-show="role=='Admin'||role=='FinancialAffairs'||role=='GeneralManager'"><a href="wages.html"><i class="fa fa-money"></i>工资管理</a></li>
				<li data-role="toarea" v-show="role=='Admin'||role=='GeneralManager'"><a href="toarea.html"><i class="fa fa-money"></i>体验积分</a></li>
				<li data-role="account" v-show="role=='Admin'"><a href="account.html"><i class="fa fa-money"></i>后台账号管理</a></li>
				<li data-role="config" v-show="role=='Admin'"><a href="config.html"><i class="fa fa-money"></i>配置管理</a></li>
			</ul>
		</div>
		<div class="op-right">

<div class="transfer-main" id="transfer-main" v-cloak>
	<div class="transfer-tips">
		<a @click="togglet(1)" :class="{'active':unt}">未放款</a><a @click="togglet(2)" :class="{'active':fnt}">全部</a>
	</div>
	<div v-show="unt">
		<table>
			<tr>
				<th>申请ID</th>
				<th>转出金额</th>
				<th>类型</th>
				<th>银行卡号</th>
				<th>开户行</th>
				<th>开卡人</th>
				<th>店铺名</th>
				<th>地址</th>
				<th>申请时间</th>
				<th>操作</th>
			</tr>
			<tr v-for="t in ulist">
				<td>{{t.transferID}}</td>
				<td>{{t.amount}}</td>
				<td>
					<em v-if="t.transferKind=='Commission'">佣金</em>
                    <em v-if="t.transferKind=='PaymentForGoods'">货款</em>
                    <em v-if="t.transferKind=='Balance'">余额</em>
				</td>
				<td>{{t.account}}</td>
				<td>{{t.bank}}</td>
				<td>{{t.name}}</td>
				<td>{{t.storeName}}</td>
				<td>{{t.address}}</td>
				<td>{{t.createTime}}</td>
				<td>
					<a @click="agree(t.transferID)">放款</a>
					<a @click="showreason(t.transferID)">拒绝</a>
				</td>
			</tr>
		</table>
		<div class="ylb-page">
			总共{{Math.ceil(ut/sz)}}页，当前第{{ucp}}页
			<a @click="uprev">上一页</a>
			<a @click="unext">下一页</a>
			<input v-model="ucp" type="text" />
			<a @click="ujump">跳转</a>
		</div>
	</div>
	<div v-show="fnt">
		<table>
			<tr>
				<th>申请ID</th>
				<th>转出金额</th>
				<th>类型</th>
				<th>银行卡号</th>
				<th>开户行</th>
				<th>开卡人</th>
				<th>店铺名</th>
				<th>地址</th>
				<th>申请时间</th>
				<th>状态</th>
			</tr>
			<tr v-for="t in flist">
				<td>{{t.transferID}}</td>
				<td>{{t.amount}}</td>
				<td>
					<em v-if="t.transferKind=='Commission'">佣金</em>
                    <em v-if="t.transferKind=='PaymentForGoods'">货款</em>
                    <em v-if="t.transferKind=='Balance'">余额</em>
				</td>
				<td>{{t.account}}</td>
				<td>{{t.bank}}</td>
				<td>{{t.name}}</td>
				<td>{{t.storeName}}</td>
				<td>{{t.address}}</td>
				<td>{{t.createTime}}</td>
				<td>
					<em v-if="t.status=='Agree'">区域经理已同意</em>
					<em v-if="t.status=='Paid'">财务已放款</em>
				</td>
			</tr>
		</table>
		<div class="ylb-page">
			总共{{Math.ceil(ft/sz)}}页，当前第{{fcp}}页
			<a @click="fprev">上一页</a>
			<a @click="fnext">下一页</a>
			<input v-model="fcp" type="text" />
			<a @click="fjump">跳转</a>
		</div>
	</div>
	<div class="ylb-graybox" v-show="greason">
		<ul>
			<li><span>拒绝理由</span><input v-model="reason" type="text"></li>
			<li><a @click="disagree()">提交</a></li>
		</ul>
	</div>
	<div class="ylb-cover" v-show="cover" @click="hideall"></div>
</div>

		</div>
	</section>
</body>
<script src="js/libs/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="js/libs/bootstrap.min.js" type="text/javascript"></script>
<script src="js/libs/dropzone.js" type="text/javascript"></script>
<script src="js/libs/pickday.min.js" type="text/javascript"></script>
<script src="js/libs/vue.min.js" type="text/javascript"></script>
<script src="js/libs/echarts.min.js" type="text/javascript"></script>
<script src="js/base.js?rev=cb90b5aef2a4bdc4d41df78a1c8ef984" type="text/javascript"></script>


<script src="js/transfers.js?rev=cb90b5aef2a4bdc4d41df78a1c8ef984"></script>


</html>