<!DOCTYPE html>
<html>

<head>

<title>资产转出管理</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="优良宝" />
	<meta name="keywords" content="优良宝" />
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />



	<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/morris.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/pickday.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css?rev=51218e1e649f8eeac8bd964a3ae3a7a4" />
</head>

<body>

<section class="transfer-main" id="transfer-main" v-cloak>
	<div class="op-header"><img src="images/logo.png" /></div>
	<div class="op-left">
		<ul>
			<!--<li><a href="product.html"><i class="fa fa-comments"></i>商品管理</a></li>
            <li><a><i class="fa fa-dashboard"></i>用户管理 </a>
                <ul>
                    <li><a href="areamanager.html"><i class="fa fa-table"></i>区域经理管理</a></li>
                    <li><a href="admin.html"><i class="fa fa-group"></i>后台用户管理</a></li>

                </ul>
            </li>-->
			<li><a href="transfers.html"><i class="fa fa-money"></i>提现审核</a></li>
			<li><a href="upgraderight.html"><i class="fa fa-money"></i>提升区域经理</a></li>
		</ul>
	</div>
	<div class="op-right">
		<div class="mb40">
			<h1 class="transfer-title">资产转出审批</h1>
			<table>
				<tr>
					<th>申请ID</th>
					<th>转出金额</th>
					<th>银行卡号</th>
					<th>申请时间</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
				<tr v-if="t.status=='New'" v-for="t in list">
					<td>{{t.transferID}}</td>
					<td>{{t.amount}}</td>
					<td>{{t.account}}</td>
					<td>{{t.createTime}}</td>
					<td>待审批</td>
					<td><a @click="agree(t.transferID)">同意</a><a @click="disagree(t.transferID)">拒绝</a></td>
				</tr>
			</table>
		</div>
		<h1 class="transfer-title">资产转出审批记录</h1>
		<table>
			<tr>
				<th>申请ID</th>
				<th>转出金额</th>
				<th>银行卡号</th>
				<th>申请时间</th>
				<th>状态</th>
				<th>备注</th>
			</tr>
			<tr v-if="t.status!='New'" v-for="t in list">
				<td>{{t.transferID}}</td>
				<td>{{t.amount}}</td>
				<td>{{t.account}}</td>
				<td>{{t.createTime}}</td>
				<td>
					<em v-if="t.status=='Agree'">已同意</em>
					<em v-if="t.status=='Reject'">已拒绝</em>
				</td>
				<td>{{t.reason}}</td>
			</tr>
		</table>
	</div>
</section>

</body>
<script src="js/libs/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="js/libs/bootstrap.min.js" type="text/javascript"></script>
<script src="js/libs/dropzone.js" type="text/javascript"></script>
<script src="js/libs/pickday.min.js" type="text/javascript"></script>
<script src="js/libs/vue.min.js" type="text/javascript"></script>
<script src="js/libs/echarts.min.js" type="text/javascript"></script>
<script src="js/base.js?rev=51218e1e649f8eeac8bd964a3ae3a7a4" type="text/javascript"></script>


<script src="js/transfers.js?rev=51218e1e649f8eeac8bd964a3ae3a7a4"></script>


</html>