<!DOCTYPE html>
<html>

<head>

<title>提升区域经理权限</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="优良宝" />
	<meta name="keywords" content="优良宝" />
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />



	<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/morris.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/pickday.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css?rev=2be8739ce901c53a363bc26ab6232db3" />
</head>

<body>
	<header class="op-header"><img src="images/logo.png" /><a class="logout">注销登录</a></header>
	<section class="layout-main">
		<div class="op-left" id="layout-main" v-cloak>
			<ul>
				<li data-role="order" v-show="role=='Admin'||role=='Marketing'||role=='GeneralManager'||role=='LegalInspection'"><a href="order.html"><i class="fa fa-money"></i>做单查询</a></li>
				<li data-role="transfers" v-show="role=='Admin'||role=='FinancialAffairs'||role=='GeneralManager'||role=='LegalInspection'"><a href="transfers.html"><i class="fa fa-money"></i>提现管理</a></li>
				<li data-role="upgraderight" v-show="role=='Admin'||role=='GeneralManager'"><a href="upgraderight.html"><i class="fa fa-money"></i>提升区域经理</a></li>
				<li data-role="cashpool" v-show="role=='Admin'"><a href="cashpool.html"><i class="fa fa-money"></i>资金池统计</a></li>
				<li data-role="product" v-show="role=='Admin'||role=='CustomerService'"><a href="product.html"><i class="fa fa-money"></i>商品管理</a></li>
				<li data-role="kind" v-show="role=='Admin'||role=='CustomerService'"><a href="kind.html"><i class="fa fa-money"></i>商品分类管理</a></li>
				<li data-role="onlineorder" v-show="role=='Admin'||role=='Marketing'||role=='CustomerService'"><a href="onlineorder.html"><i class="fa fa-money"></i>商城订单管理</a></li>
				<li data-role="refund" v-show="role=='Admin'||role=='CustomerService'"><a href="refund.html"><i class="fa fa-money"></i>客服退单管理</a></li>
				<li data-role="refundmoney" v-show="role=='Admin'||role=='FinancialAffairs'"><a href="refundmoney.html"><i class="fa fa-money"></i>财务退单管理</a></li>
				<li data-role="downgraderight" v-show="role=='Admin'||role=='GeneralManager'"><a href="downgraderight.html"><i class="fa fa-money"></i>降权管理</a></li>
				<li data-role="banner" v-show="role=='Admin'||role=='CustomerService'"><a href="banner.html"><i class="fa fa-money"></i>首页管理</a></li>
				<li data-role="users" v-show="role=='Admin'||role=='Marketing'||role=='GeneralManager'||role=='LegalInspection'"><a href="users.html"><i class="fa fa-money"></i>有效用户</a></li>
				<li data-role="wages" v-show="role=='Admin'||role=='FinancialAffairs'||role=='GeneralManager'"><a href="wages.html"><i class="fa fa-money"></i>工资管理</a></li>
				<li data-role="toarea" v-show="role=='Admin'||role=='GeneralManager'"><a href="toarea.html"><i class="fa fa-money"></i>体验积分</a></li>
				<li data-role="account" v-show="role=='Admin'"><a href="account.html"><i class="fa fa-money"></i>后台账号管理</a></li>
				<li data-role="config" v-show="role=='Admin'"><a href="config.html"><i class="fa fa-money"></i>配置管理</a></li>
			</ul>
		</div>
		<div class="op-right">

<div class="right-main" id="right-main" v-cloak>
    <ul>
        <li><span>选择区域</span>
            <select @change="changeprov">
                    <option value="-1">-请选择省-</option>
                    <option v-for="p in plist" value="{{p.code}}">{{p.name}}</option>
                </select>
            <select @change="changecity">
                    <option value="-1">-请选择市-</option>
                    <option v-for="c in clist" value="{{c.code}}">{{c.name}}</option>
                </select>
            <select @change="changearea">
                    <option value="-1">-请选择区-</option>
                    <option v-for="a in alist" value="{{a.code}}">{{a.name}}</option>
                </select>
        </li>
        <li><span>手机号</span>
            <input maxlength="11" v-model="apply.mobile" type="text"></li>
        <li><span>真实姓名</span>
            <input maxlength="11" v-model="apply.name" type="text"></li>
        <li><span>推荐人手机</span>
            <input maxlength="11" v-model="apply.referrerMobile" type="text"></li>
        <li><a @click="toupgrade" class="btn-submit">提交</a></li>
    </ul>
</div>

		</div>
	</section>
</body>
<script src="js/libs/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="js/libs/bootstrap.min.js" type="text/javascript"></script>
<script src="js/libs/dropzone.js" type="text/javascript"></script>
<script src="js/libs/pickday.min.js" type="text/javascript"></script>
<script src="js/libs/vue.min.js" type="text/javascript"></script>
<script src="js/libs/echarts.min.js" type="text/javascript"></script>
<script src="js/base.js?rev=2be8739ce901c53a363bc26ab6232db3" type="text/javascript"></script>


<script type="text/javascript" src="js/right.js?rev=2be8739ce901c53a363bc26ab6232db3"></script>


</html>