<!DOCTYPE html>
<html>

<head>

<title>有效会员统计</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="优良宝" />
	<meta name="keywords" content="优良宝" />
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />



	<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/morris.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/pickday.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css?rev=a3524546d26d966dd81b08b265a25223" />
</head>

<body>
	<header class="op-header"><img src="images/logo.png" /><a class="logout">注销登录</a></header>
	<section class="layout-main">
		<div class="op-left" id="layout-main" v-cloak>
			<ul>
				<li v-show="role=='Admin'"><a href="order.html"><i class="fa fa-money"></i>做单查询</a></li>
				<li v-show="role=='Admin'||role=='FinancialAffairs'"><a href="transfers.html"><i class="fa fa-money"></i>提现管理</a></li>
				<li v-show="role=='Admin'||role=='GeneralManager'"><a href="upgraderight.html"><i class="fa fa-money"></i>提升区域经理</a></li>
				<li v-show="role=='Admin'"><a href="cashpool.html"><i class="fa fa-money"></i>资金池统计</a></li>
				<li v-show="role=='Admin'||role=='Marketing'"><a href="product.html"><i class="fa fa-money"></i>商品管理</a></li>
				<li v-show="role=='Admin'||role=='CustomerService'"><a href="onlineorder.html"><i class="fa fa-money"></i>商城订单管理</a></li>
				<li v-show="role=='Admin'||role=='GeneralManager'"><a href="downgraderight.html"><i class="fa fa-money"></i>降权管理</a></li>
				<li v-show="role=='Admin'||role=='Marketing'"><a href="banner.html"><i class="fa fa-money"></i>首页管理</a></li>
				<li v-show="role=='Admin'||role=='GeneralManager'"><a href="users.html"><i class="fa fa-money"></i>有效用户</a></li>
				<li v-show="role=='Admin'||role=='FinancialAffairs'"><a href="wages.html"><i class="fa fa-money"></i>工资管理</a></li>
				<li v-show="role=='Admin'"><a href="toarea.html"><i class="fa fa-money"></i>体验积分</a></li>
			</ul>
		</div>
		<div class="op-right">

<div class="users-main" id="users-main" v-cloak>
    <h1>有效会员统计({{info.activeMember}})</h1>
    <div class="users-filter">
        <select @change="changeprov">
                <option value="">-请选择省-</option>
                <option v-for="p in plist" value="{{p.code}}">{{p.name}}</option>
            </select>
        <select @change="changecity">
                <option value="">-请选择省市-</option>
                <option v-for="c in clist" value="{{c.code}}">{{c.name}}</option>
            </select>
        <select @change="changearea">
                <option value="">-请选择区-</option>
                <option v-for="a in alist" value="{{a.code}}">{{a.name}}</option>
            </select>
        <a @click="filteruser">搜索</a>
    </div>
    <table>
        <tr>
            <th>真实姓名</th>
            <th>手机号码</th>
            <th>积分点</th>
            <th>可用积分</th>
            <th>余额</th>
            <th>货款</th>
            <th>佣金</th>
            <th>地址</th>
            <th>注册时间</th>
        </tr>
        <tr v-for="u in info.users">
            <td>{{u.name}}</td>
            <td>{{u.mobile}}</td>
            <td>{{u.point}}</td>
            <td>{{u.score}}</td>
            <td>{{u.balance}}</td>
            <td>{{u.paymentForGoods}}</td>
            <td>{{u.commission}}</td>
            <td>{{u.address}}</td>
            <td>{{u.createTime}}</td>
        </tr>
    </table>
</div>

		</div>
	</section>
</body>
<script src="js/libs/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="js/libs/bootstrap.min.js" type="text/javascript"></script>
<script src="js/libs/dropzone.js" type="text/javascript"></script>
<script src="js/libs/pickday.min.js" type="text/javascript"></script>
<script src="js/libs/vue.min.js" type="text/javascript"></script>
<script src="js/libs/echarts.min.js" type="text/javascript"></script>
<script src="js/base.js?rev=a3524546d26d966dd81b08b265a25223" type="text/javascript"></script>


<script type="text/javascript" src="js/users.js?rev=a3524546d26d966dd81b08b265a25223"></script>


</html>