<!DOCTYPE html>
<html>

<head>

<title>申请详情</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="优良宝" />
	<meta name="keywords" content="优良宝" />
	<link rel="shortcut icon" type="image/png" href="public/img/favicon.png" />



	<link rel="stylesheet" type="text/css" href="css/style.css?rev=ba720eba97b8ca2a3d3806a430ced72f" />
	<link rel="stylesheet" type="text/css" href="css/pickday.css" />
	<link rel="stylesheet" type="text/css" href="css/ylbicon.css?rev=ba720eba97b8ca2a3d3806a430ced72f" />
</head>

<body>
	<header class="ylb-header">
		<a class="ylb-home" href="index.html"><i class="icon-ylbicon-28"></i></a>
		<a class="ylb-menu"><i class="icon-ylbicon-06"></i></a>
		<a class="ylb-shops" href="shops.html"><i class="icon-ylbicon-26"></i></a>
		<label>优良宝商城系统试测试中，更多功能敬请期待...</label>
		<a class="ylb-search"><i class="icon-ylbicon-05"></i></a>
		<div class="ylb-customer"><i class="icon-ylbicon-01"></i>
			<ul>
				<li><a href="customer.html"><i class="icon-ylbicon-27"></i>个人中心</a></li>
				<li><a href="shopcart.html"><i class="icon-ylbicon-23"></i>购物车</a></li>
				<li><a class="logout"><i class="icon-ylbicon-29"></i><em class="btn-logout">注销登录</em><em class="btn-login">登录</em></a></li>
			</ul>
		</div>
	</header>

<section class="apply-main" id="apply-main" v-cloak>
    <ul class="apply-detail">
        <li><span>申请状态</span>
            <em v-if="detail.status=='Pending'">待审批</em>
            <em v-if="detail.status=='Approval'">已批准</em>
            <em v-if="detail.status=='Reject'">已拒绝</em>
        </li>
        <li><span>申请人</span>{{detail.applicantName||detail.applicantMobile}}</li>
        <li><span>申请角色</span>{{detail.applyRole=='Merchants'?'加盟商':'客户经理'}}</li>
        <li><span>当前角色</span>{{detail.crurrentRole=='Ordinary'?'普通会员':'加盟商'}}</li>
        <li><span>申请时间</span>{{detail.date}}</li>
        <li v-if="detail.applyRole=='Merchants'"><span>店铺名称</span>{{detail.storeName}}</li>
        <li v-if="detail.applyRole=='Merchants'"><span>店铺地址</span>{{detail.province+detail.city+detail.area+detail.street}}</li>
        <li v-if="detail.applyRole=='Merchants'"><span>真实姓名</span>{{detail.legalPerson}}</li>
        <li v-if="detail.applyRole=='Merchants'"><span>联系方式</span>{{detail.tel}}</li>
        <!--<li v-if="detail.applyRole=='Merchants'"><span>法人身份证号</span>{{detail.idCard}}</li>-->
        <li v-if="detail.applyRole=='CustomerManager'"><span>身份证号</span>{{detail.idCard}}</li>
        <!--<li v-if="detail.applyRole=='Merchants'"><span>法人身份证正反照</span>
            <a v-for="i in detail.legalPersonIdCardImage" href="{{i}}" target="_blank"><img :src="i"></a>
        </li>-->
        <li v-if="detail.applyRole=='CustomerManager'"><span>身份证正反照</span>
            <a v-for="i in detail.legalPersonIdCardImage" href="{{i}}" target="_blank"><img :src="i"></a>
        </li>
        <li v-if="detail.applyRole=='CustomerManager'"><span>持身份证照</span>
            <a href="detail.legalPersonWithIdCardInHandImage" target="_blank"><img :src="detail.legalPersonWithIdCardInHandImage"></a>
        </li>
        <!--<li v-if="detail.applyRole=='Merchants'"><span>法人手持身份证照</span>
            <a href="detail.legalPersonWithIdCardInHandImage" target="_blank"><img :src="detail.legalPersonWithIdCardInHandImage"></a>
        </li>-->
        <li v-if="detail.applyRole=='Merchants'"><span>营业执照</span>
            <a href="detail.license" target="_blank"><img :src="detail.license"></a>
        </li>
        <li v-if="detail.applyRole=='Merchants'"><span>店招图</span>
            <a href="detail.storeAppearance" target="_blank"><img :src="detail.storeAppearance"></a>
        </li>
        <li v-if="detail.applyRole=='Merchants'"><span>店内图</span>
            <a v-for="i in detail.storeInsideImages" href="{{i}}" target="_blank"><img :src="i"></a>
        </li>
        <li v-if="detail.applyRole=='Merchants'"><span>推荐人</span>{{detail.referrerName||detail.referrerMobile}}</li>
        <li><span>推荐商家数</span>{{detail.recommended}}</li>
    </ul>
    <div class="apply-btns">
        <button v-if="detail.status=='Pending'" @click="agree">同意</button>
        <button v-if="detail.status=='Pending'" @click="showreason">拒绝</button>
    </div>
    <div class="reason" v-show="reason">拒绝理由<input v-model="reasons" type="text">
        <button @click="disagree">提交</button>
    </div>
</section>

	<div id="ylb-layout">
		<div class="ylb-cover"></div>
		<div class="ylb-search-wrap">
			<input class="ylb-search-txt" type="search" v-model="sc" placeholder="请输入关键词" />
			<a @click="search" class="ylb-search-btn"><i class="icon-ylbicon-05"></i></a>
		</div>
		<div class="ylb-menu-wrap">
			<ul>
				<li>全部商品分类</li>
				<li @mouseover="changeslist" data-id="{{f.code}}" v-for="f in flist"><a href="list.html?k1={{f.code}}">{{f.name}}</a></li>
				<li><a v-for="s in slist" href="list.html?k2={{s.code}}">{{s.name}}></a></li>
			</ul>

		</div>
	</div>
	<footer class="ylb-footer">
		<div class="ylb-doclist">
			<a>联系我们400-9016-899</a>
			<a href="agreemengt.html">用户协议</a>
			<a href="pointrule.html">积分规则</a>
			<a href="disclaimer.html">免责申明</a>
			<a href="refund.html">七天无理由退换货</a>
			<p>Copyright 2016-2017 湘 ICP备 1002349号－1</p>
		</div>
	</footer>
</body>
<script src="js/libs/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="js/libs/vue.min.js" type="text/javascript"></script>
<script src="js/libs/pickday.min.js" type="text/javascript"></script>
<script src="js/libs/qrcode.min.js" type="text/javascript"></script>
<script src="js/libs/dropzone.js" type="text/javascript"></script>
<script src="js/base.js?rev=ba720eba97b8ca2a3d3806a430ced72f" type="text/javascript"></script>

<script type="text/javascript" src="js/apply.js?rev=ba720eba97b8ca2a3d3806a430ced72f"></script>


</html>