<!DOCTYPE html>
<html>

<head>

<title>审批管理</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="优良宝" />
	<meta name="keywords" content="优良宝" />
	<link rel="shortcut icon" type="image/png" href="public/img/favicon.png" />



	<link rel="stylesheet" type="text/css" href="css/style.css?rev=822e5fe19b4f7f2e11a1b49023ac5ebd" />
	<link rel="stylesheet" type="text/css" href="css/pickday.css" />
	<link rel="stylesheet" type="text/css" href="css/ylbicon.css?rev=822e5fe19b4f7f2e11a1b49023ac5ebd" />
</head>

<body>
	<header class="ylb-header">
		<a class="ylb-home" href="index.html"><i class="icon-ylbicon-28"></i></a>
		<a class="ylb-menu"><i class="icon-ylbicon-06"></i></a>
		<a class="ylb-shops" href="shops.html"><i class="icon-ylbicon-26"></i></a>
		<label>优良宝商城系统试测试中，更多功能敬请期待...</label>
		<a class="ylb-search"><i class="icon-ylbicon-05"></i></a>
		<a class="ylb-customer" href="customer.html"><i class="icon-ylbicon-01"></i>
			<!--<ul>
				<li><a href="customer.html"><i class="icon-ylbicon-27"></i>个人中心</a></li>
				<li><a href="shopcart.html"><i class="icon-ylbicon-23"></i>购物车</a></li>
				<li><a class="logout"><i class="icon-ylbicon-29"></i><em class="btn-logout">注销登录</em><em class="btn-login">登录</em></a></li>
			</ul>-->
		</a>
	</header>

<section class="customer-main approve-main" id="approve-main" v-cloak>
    <!--顶部导航-->
    <div class="customer-header-wrap">
        <img class="customer-logo" src="images/logo.png" />
        <ul class="customer-nav">
            <li><a href="index.html">首页</a></li>
            <li class="select"><a href="customer.html">个人中心</a></li>
            <li><a href="shops.html">加盟商户</a></li>
        </ul>
        <div class="customer-seach">
            <!--<input type="search" placeholder="搜索">-->
            <!--<i class="customer-bag icon-ylbicon-23"></i>-->
            <a href="shopcart.html"><i class="customer-bag icon-ylbicon-23"></i>购物车</a>
        </div>
    </div>
    <p class="ylb-navbar">您现在的位置：<a href="index.html">首页</a> > <a href="customer.html">个人中心</a> > 审批管理 <a class="customer-logout"><i class="icon-ylbicon-29"></i><em class="btn-logout">注销登录</em></a></p>
    <h1>审批管理</h1>
    <div class="approve-tip">
        <a @click="changetip(1)" :class="{'active': zd}">做单审核</a>
        <a @click="changetip(2)" :class="{'active': js}">角色申请</a>
        <a @click="changetip(3)" :class="{'active': tx}">提现审核</a>
        <a @click="changetip(4)" :class="{'active': zdr}">做单审核记录</a>
        <a @click="changetip(5)" :class="{'active': jsr}">角色申请记录</a>
        <a @click="changetip(6)" :class="{'active': txr}">提现审核记录</a>
    </div>
    <div class="approve-wrap" v-show="zd">
        <table>
            <tr>
                <th>id</th>
                <th>商家</th>
                <th>商家会员号</th>
                <th>买家</th>
                <th>买家会员号</th>
                <th>商品</th>
                <th>赠送积分</th>
                <th>申请时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            <tr v-if="order.length<1">
                <td colspan="10">
                    暂无需要处理的审核
                </td>
            </tr>
            <tr v-for="o in order">
                <td>{{o.orderID}}</td>
                <td>{{o.storeName}}</td>
                <td>{{o.tel}}</td>
                <td>{{o.givenUser}}</td>
                <td>{{o.givenUserMobile}}</td>
                <td>{{o.goodsName}}</td>
                <td>{{o.givingScore}}</td>
                <td>{{o.createTime}}</td>
                <td>
                    待审核
                </td>
                <td>
                    <a v-if="o.orderStatus=='New'" @click="oaccept(o.orderID)">同意</a><br v-if="o.orderStatus=='New'" />
                    <a v-if="o.orderStatus=='New'" @click="showoreason(o.orderID)">拒绝</a>
                </td>
            </tr>
        </table>
        <div class="ylb-page">
            总共{{Math.ceil(ot/sz)}}页，当前第{{ocp}}页
            <a @click="oprev">上一页</a>
            <a @click="onext">下一页</a>
            <input v-model="ocp" type="text" />
            <a @click="ojump">跳转</a>
        </div>
    </div>
    <div class="approve-wrap" v-show="zdr">
        <table>
            <tr>
                <th>id</th>
                <th>商家</th>
                <th>商家会员号</th>
                <th>买家</th>
                <th>买家会员号</th>
                <th>商品</th>
                <th>赠送积分</th>
                <th>申请时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            <tr v-if="aorder.length<1">
                <td colspan="9">
                    暂无需要处理的审核
                </td>
            </tr>
            <tr v-for="d in aorder">
                <td>{{d.orderID}}</td>
                <td>{{d.storeName}}</td>
                <td>{{d.tel}}</td>
                <td>{{d.givenUser}}</td>
                <td>{{d.givenUserMobile}}</td>
                <td>{{d.goodsName}}</td>
                <td>{{d.givingScore}}</td>
                <td>{{d.createTime}}</td>
                <td>
                    <em v-if="d.orderStatus=='New'">待审核</em>
                    <em v-if="d.orderStatus=='Agree'">已同意</em>
                    <em v-if="d.orderStatus=='Reject'">已拒绝</em>
                </td>
                <td>
                    <a v-if="d.orderStatus=='Reject'" @click="showrejectreason(d.reason)">查看拒绝理由</a>
                </td>
            </tr>
        </table>
        <div class="ylb-page">
            总共{{Math.ceil(aot/sz)}}页，当前第{{aocp}}页
            <a @click="aoprev">上一页</a>
            <a @click="aonext">下一页</a>
            <input v-model="aocp" type="text" />
            <a @click="aojump">跳转</a>
        </div>
    </div>
    <div class="approve-wrap" v-show="js">
        <table>
            <tr>
                <th>id</th>
                <th>申请人</th>
                <th>推荐人</th>
                <th>申请角色</th>
                <th>当前角色</th>
                <th>成功推荐商家数</th>
                <th>申请时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            <tr v-if="apply.length<1">
                <td colspan="9">
                    暂无需要处理的审核
                </td>
            </tr>
            <tr v-if="a.status=='Pending'" v-for="a in apply">
                <td>{{a.id}}</td>
                <td>{{a.applicantName||a.applicantMobile}}</td>
                <td>{{a.referrerName||a.referrerMobile}}</td>
                <td><em v-if="a.applyRole=='Merchants'">商家</em>
                    <em v-if="a.applyRole=='CustomerManager'">客户经理</em>
                </td>
                <td>
                    <em v-if="a.currentRole=='Merchants'">商家</em>
                    <em v-if="a.currentRole=='Ordinary'">普通会员</em>
                    <em v-if="a.currentRole=='CustomerManager'">客户经理</em>
                    <em v-if="a.currentRole=='AreaManager'">区域经理</em>
                </td>
                <td>{{a.recommended}}</td>
                <td>{{a.date}}</td>
                <td>待审核</td>
                <td><a href="apply.html?aid={{a.id}}&r={{a.applyRole}}">详情</a><br><a @click="aaccept(a.id)">同意</a><br>
                    <a @click="showareason(a.id)">拒绝</a> 
                </td>
            </tr>
        </table>
        <div class="ylb-page">
            总共{{Math.ceil(at/sz)}}页，当前第{{acp}}页
            <a @click="aprev">上一页</a>
            <a @click="anext">下一页</a>
            <input v-model="acp" type="text" />
            <a @click="ajump">跳转</a>
        </div>
    </div>
    <div class="approve-wrap" v-show="jsr">
        <table>
            <tr>
                <th>id</th>
                <th>申请人</th>
                <th>推荐人</th>
                <th>申请角色</th>
                <th>当前角色</th>
                <th>成功推荐商家数</th>
                <th>申请时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            <tr v-if="aapply.length<1">
                <td colspan="9">
                    暂无处理过的审核
                </td>
            </tr>
            <tr v-for="a in aapply">
                <td>{{a.id}}</td>
                <td>{{a.applicantName||a.applicantMobile}}</td>
                <td>{{a.referrerName||a.referrerMobile}}</td>
                <td><em v-if="a.applyRole=='Merchants'">商家</em><em v-if="a.applyRole=='CustomerManager'">客户经理</em></td>
                <td>
                    <em v-if="a.currentRole=='Merchants'">商家</em>
                    <em v-if="a.currentRole=='Ordinary'">普通会员</em>
                    <em v-if="a.currentRole=='CustomerManager'">客户经理</em>
                    <em v-if="a.currentRole=='AreaManager'">区域经理</em>
                </td>
                <td>{{a.recommended}}</td>
                <td>{{a.date}}</td>
                <td>
                    <em v-if="a.status=='Approval'">已同意</em>
                    <em v-if="a.status=='Reject'">已拒绝</em>
                </td>
                <td><a href="apply.html?aid={{a.id}}&r={{a.applyRole}}">详情</a></td>
            </tr>
        </table>
        <div class="ylb-page">
            总共{{Math.ceil(aat/sz)}}页，当前第{{aacp}}页
            <a @click="aaprev">上一页</a>
            <a @click="aanext">下一页</a>
            <input v-model="aacp" type="text" />
            <a @click="aajump">跳转</a>
        </div>
    </div>
    <div class="approve-wrap" v-show="tx">
        <table>
            <tr>
                <th>ID</th>
                <th>申请人</th>
                <th>店铺名</th>
                <th>会员号</th>
                <th>转出金额</th>
                <th>类型</th>
                <th>开户行</th>
                <th>卡号</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            <tr v-if="transfer.length<1">
                <td colspan="9">
                    暂无提现申请
                </td>
            </tr>
            <tr v-for="t in transfer">
                <td>{{t.transferID}}</td>
                <td>{{t.name}}</td>
                <td>{{t.storeName}}</td>
                <td>{{t.mobile}}</td>
                <td>{{t.amount}}</td>
                <td>
                    <em v-if="t.transferKind=='Commission'">佣金</em>
                    <em v-if="t.transferKind=='PaymentForGoods'">货款</em>
                    <em v-if="t.transferKind=='Balance'">余额</em>
                </td>
                <td>{{t.bank}}</td>
                <td>{{t.account}}</td>
                <td>{{t.createTime}}</td>
                <td><a @click="agreetrs(t.transferID)">同意</a><br><a @click="rejecttrs(t.transferID)">拒绝</a></td>
            </tr>
        </table>
        <div class="ylb-page">
            总共{{Math.ceil(tt/sz)}}页，当前第{{tcp}}页
            <a @click="tprev">上一页</a>
            <a @click="tnext">下一页</a>
            <input v-model="tcp" type="text" />
            <a @click="tjump">跳转</a>
        </div>
    </div>
    <div class="approve-wrap" v-show="txr">
        <table>
            <tr>
                <th>ID</th>
                <th>申请人</th>
                <th>店铺名</th>
                <th>会员号</th>
                <th>转出金额</th>
                <th>类型</th>
                <th>开户行</th>
                <th>卡号</th>
                <th>时间</th>
                <th>状态</th>
            </tr>
            <tr v-if="atransfer.length<1">
                <td colspan="9">
                    暂无提现申请
                </td>
            </tr>
            <tr v-for="t in atransfer">
                <td>{{t.transferID}}</td>
                <td>{{t.name}}</td>
                <td>{{t.storeName}}</td>
                <td>{{t.mobile}}</td>
                <td>{{t.amount}}</td>
                <td>
                    <em v-if="t.transferKind=='Commission'">佣金</em>
                    <em v-if="t.transferKind=='PaymentForGoods'">货款</em>
                    <em v-if="t.transferKind=='Balance'">余额</em>
                </td>
                <td>{{t.bank}}</td>
                <td>{{t.account}}</td>
                <td>{{t.createTime}}</td>
                <td>
                    <em v-if="t.status=='New'">待处理</em>
                    <em v-if="t.status=='Agree'">区域经理已同意</em>
                    <em v-if="t.status=='Reject'">已拒绝</em>
                    <em v-if="t.status=='Paid'">已打款</em>
                </td>
            </tr>
        </table>
        <div class="ylb-page">
            总共{{Math.ceil(att/sz)}}页，当前第{{atcp}}页
            <a @click="atprev">上一页</a>
            <a @click="atnext">下一页</a>
            <input v-model="atcp" type="text" />
            <a @click="atjump">跳转</a>
        </div>
    </div>
    <div class="ylb-graybox nagtive" v-show="areason">
        <h1>请输入拒绝理由</h1>
        <input v-model="areasontxt" maxlength="128" placeholder="最多可填入128字" type="text" />
        <a @click="areject">提交</a>
    </div>
    <div class="ylb-graybox nagtive" v-show="oreason">
        <h1>请输入拒绝理由</h1>
        <input v-model="oreasontxt" maxlength="128" placeholder="最多可填入128字" type="text" />
        <a @click="oreject">提交</a>
    </div>
    <div class="ylb-show-cover" v-show="cover" @click="hideall"></div>
</section>
<footer></footer>

	<div id="ylb-layout">
		<div class="ylb-cover"></div>
		<div class="ylb-search-wrap">
			<input class="ylb-search-txt" type="search" v-model="sc" placeholder="请输入关键词" />
			<a @click="search" class="ylb-search-btn"><i class="icon-ylbicon-05"></i></a>
		</div>
		<div class="ylb-menu-wrap">
			<ul>
				<li>全部商品分类</li>
				<li @mouseover="changeslist" data-id="{{f.code}}" v-for="f in flist"><a href="list.html?k1={{f.code}}">{{f.name}}</a></li>
				<li><a v-for="s in slist" href="list.html?k2={{s.code}}">{{s.name}}></a></li>
			</ul>

		</div>
	</div>
	<footer class="ylb-footer">
		<div class="ylb-doclist">
			<a>联系我们400-9016-899</a>
			<a href="agreemengt.html">用户协议</a>
			<a href="pointrule.html">积分规则</a>
			<a href="disclaimer.html">免责申明</a>
			<a href="refund.html">七天无理由退换货</a>
			<p>Copyright 2016-2017 湘 ICP备 1002349号－1</p>
		</div>
	</footer>
</body>
<script src="js/libs/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="js/libs/vue.min.js" type="text/javascript"></script>
<script src="js/libs/pickday.min.js" type="text/javascript"></script>
<script src="js/libs/qrcode.min.js" type="text/javascript"></script>
<script src="js/libs/dropzone.js" type="text/javascript"></script>
<script src="js/base.js?rev=822e5fe19b4f7f2e11a1b49023ac5ebd" type="text/javascript"></script>

<script type="text/javascript" src="js/approve.js?rev=822e5fe19b4f7f2e11a1b49023ac5ebd"></script>


</html>