<!DOCTYPE html>
<html>

<head>

<title>编辑个人信息</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="优良宝" />
	<meta name="keywords" content="优良宝" />
	<link rel="shortcut icon" type="image/png" href="public/img/favicon.png" />



	<link rel="stylesheet" type="text/css" href="css/style.css?rev=fe68d1ed51395ec2a37f09904f593d85" />
	<link rel="stylesheet" type="text/css" href="css/pickday.css" />
	<link rel="stylesheet" type="text/css" href="css/ylbicon.css?rev=fe68d1ed51395ec2a37f09904f593d85" />
</head>

<body>
	<header class="ylb-header">
		<a class="ylb-home" href="index.html"><i class="icon-ylbicon-28"></i></a>
		<a class="ylb-menu"><i class="icon-ylbicon-06"></i></a>
		<a class="ylb-search"><i class="icon-ylbicon-05"></i></a>
		<div class="ylb-customer"><i class="icon-ylbicon-01"></i>
			<ul>
				<li><a href="customer.html"><i class="icon-ylbicon-27"></i>个人中心</a></li>
				<li><a href="shopcart.html"><i class="icon-ylbicon-23"></i>购物车</a></li>
				<li><a class="logout"><i class="icon-ylbicon-29"></i>注销登录</a></li>
			</ul>
		</div>
	</header>

<section class="customer-main" id="customer-main" v-cloak>
    <div class="customer-header-wrap">
        <img class="customer-logo" src="images/logo.png" />
        <ul class="customer-nav">
            <li><a href="index.html">首页</a></li>
            <li class="select"><a href="customer.html">个人中心</a></li>
            <li>商品分类</li>
            <li>公告</li>
        </ul>
        <div class="customer-seach">
            <input type="search" placeholder="搜索">
            <i class="customer-bag icon-ylbicon-23"></i>
            <span>购物车</span>
        </div>
    </div>
    <p class="ylb-navbar">您现在的位置：<a href="index.html">首页</a> > 会员中心</p>
    <div class="customer-left">
        <h1 class="customer-left-title">
            会员中心
        </h1>
        <ul>
            <li class="select"><a href="#customer-info"><i class="icon-ylbicon-01"></i>我的账号</a></li>
            <li><a href="#customer-order"><i class="icon-ylbicon-02"></i>我的订单</a></li>
            <li><a href="#customer-fav"><i class="icon-ylbicon-03"></i>我的收藏</a></li>
            <li><a href="#customer-apply"><i class="icon-ylbicon-04"></i>商家申请</a></li>
            <li><a href="achievement.html?id=1"><i class="icon-ylbicon-22"></i>名下业绩</a></li>
            <li><a href="review.html?id=1"><i class="icon-ylbicon-18"></i>审核管理</a></li>
        </ul>
    </div>
    <div class="customer-right">
        <div id="customer-info" class="customer-info">
            <div class="customer-base">
                <img :src="info.avatar||'images/customer-default.png'" />
                <h1>{{info.mobile}}</h1>
            </div>
            <div class="customer-asset" :class="{salerasset:info.role=='Merchants'}">
                <div class="customer-tag">资产</div>
                <h1>真实姓名： {{info.name||info.mobile}}<br /> 会员类型：
                    <em v-if="info.role=='Ordinary'">普通会员</em>
                    <em v-if="info.role=='Merchants'">加盟商家</em>
                    <em v-if="info.role=='CustomerManager'">客户经理</em>
                    <em v-if="info.role=='AreaManager'">区域经理</em>
                </h1>
                <p>账户余额： <em>{{info.asset.balance}}</em>元<a>充值</a></p>
                <p v-if="info.role=='Merchants'">账户货款： <em>{{info.asset.paymentForGoods}}</em>元</p>
                <p v-if="info.role=='Merchants'">账户佣金： <em>{{info.asset.commission}}</em>元</p>
                <p>剩余积分： <em>{{info.asset.score}}</em>分</p>
                <p>积分基点： <em>{{info.asset.point}}</em>个<a @click="getpoint">领取积分</a></p>
            </div>
            <div class="customer-code customer-eqcode">
                <div class="customer-tag">积分做单</div>
                <div class="customer-pic ylb-center">
                    <div id="customer-private-qrcode" class="customer-private-qrcode"></div>
                </div>
            </div>
            <div v-if="info.role=='Merchants'" class="customer-code customer-control">
                <div class="customer-tag">商家操作</div>
                <div class="customer-pic">
                    <a @click="spendpoints">积分兑换</a>
                </div>
            </div>
            <img v-if="info.role=='Ordinary'" class="customer-adv" src="images/adv1.png" />
        </div>
        <div class="customer-edit">
            <ul class="customer-edit-list">
                <li data-role="password" @click="changetap" :class="{select:password}">二级密码管理</li>
                <li data-role="avatar" @click="changetap" :class="{select:avatar}">头像修改</li>
                <li data-role="address" @click="changetap" :class="{select:address}">地址管理</li>
                <li data-role="detail" @click="changetap" :class="{select:detail}">详细资料</li>
            </ul>
            <div v-show="avatar" class="edit-avatar">
                <h3>请选择jpg,png格式的图片，图片大小小于500k</h3>
                <img :src="useravatar" />
                <span id="txsc">点击上传头像</span>
                <button @click="saveavatar">保存</button>
            </div>
            <div v-show="address" class="edit-address">
                <h3>新增收货地址每均为必填项</span>
                </h3>
                <ul>
                    <li><span>所在地区<em>*</em></span><select name="prov" @change="changeprov" id="prov">
                            <option value="-1">-请选择省-</option>
                            <option selected="{{newaddress.provinceCode==p.code}}" v-for="p in plist" value="{{p.code}}">{{p.name}}</option>
                        </select>
                        <select name="city" @change="changecity" id="city">
                            <option value="-1">-请选择市-</option>
                            <option selected="{{newaddress.cityCode==c.code}}" v-for="c in clist" value="{{c.code}}">{{c.name}}</option>
                        </select>
                        <select name="area" @change="changearea" id="area">
                            <option value="-1">-请选择区-</option>
                            <option selected="{{newaddress.areaCode==a.code}}" v-for="a in alist" value="{{a.code}}">{{a.name}}</option>
                        </select>
                    </li>
                    <li><span>详细地址<em>*</em></span><input v-model="newaddress.street" type="text"></li>
                    <li><span>邮政编码<em>*</em></span><input maxlength="6" v-model="newaddress.postCode" type="text"></li>
                    <li><span>收货人姓名<em>*</em></span><input v-model="newaddress.name" type="text"></li>
                    <li><span>手机号码<em>*</em></span><input maxlength="11" type="text" v-model="newaddress.mobile"></li>
                    <!--<li><span>固定电话</span><input class="areacode" type="text"> - <input class="phone" type="text"></li>-->
                    <li><input type="checkbox" v-model="newaddress.isDefault" id="default" /><label for="default">设置为默认收货地址</label></li>
                    <li><button @click="saveaddress" class="edit-save">保存</button><button @click="clearaddress" class="edit-save">清空</button></li>
                </ul>
                <table>
                    <tr>
                        <th>收货人</th>
                        <th>详细地址</th>
                        <th>邮编</th>
                        <th>手机</th>
                        <th>操作</th>
                    </tr>
                    <tr :class="{'default':adr.isDefault}" v-for="adr in addrList">
                        <td>{{adr.name}}</td>
                        <td>{{adr.province+adr.city+adr.area+adr.street}}</td>
                        <td>{{adr.postCode}}</td>
                        <td>{{adr.mobile}}</td>
                        <td><a @click="editaddress(adr)" data-index="$index">修改</a><a @click="deladdress" data-id="{{adr.id}}">删除</a></td>
                    </tr>
                </table>
            </div>
            <div v-show="password" class="edit-password">
                <ul>
                    <li><span>原密码</span><input v-model="pwd.currentPassword" type="password"></li>
                    <li><span>新密码</span><input v-model="pwd.newPassword" type="password"></li>
                    <li><span>确认密码</span><input v-model="confirmpwd" type="password"></li>
                    <li><a @click="setpaypwd" class="edit-pwd">确认</a></li>
                </ul>
            </div>
            <div v-show="detail" class="edit-info">
                <ul>
                    <li><span>真实姓名</span><input v-model="userinfo.name" type="text"></li>
                    <li><span>性别</span><select @change="changegender">
                        <option value="-1">-请选择性别-</option>
                        <option value="f">男</option>
                        <option value="fm">女</option>
                        </select></li>
                    <li><span>身份证号</span><input maxlength="18" v-model="userinfo.idCard" type="text"></li>
                    <li><span>手机号码</span>{{userinfo.mobile}}</li>
                    <li><span>所在地区<em>*</em></span><select name="prov" @change="changeprov" id="prov">
                            <option value="-1">-请选择省-</option>
                            <option selected="{{userinfo.provinceCode==p.code}}" v-for="p in plist" value="{{p.code}}">{{p.name}}</option>
                        </select>
                        <select name="city" @change="changecity" id="city">
                            <option value="-1">-请选择市-</option>
                            <option selected="{{userinfo.cityCode==c.code}}" v-for="c in clist" value="{{c.code}}">{{c.name}}</option>
                        </select>
                        <select name="area" @change="changearea" id="area">
                            <option value="-1">-请选择区-</option>
                            <option selected="{{userinfo.areaCode==a.code}}" v-for="a in alist" value="{{a.code}}">{{a.name}}</option>
                        </select>
                    </li>
                    <li><span>详细地址<em>*</em></span><input v-model="userinfo.street" type="text"></li>
                    <li><button @click="saveuserinfo">保存修改</button></li>
                </ul>
            </div>
        </div>
    </div>
</section>

	<div id="ylb-layout">
		<div class="ylb-cover"></div>
		<div class="ylb-search-wrap">
			<input class="ylb-search-txt" type="search" v-model="sc" placeholder="请输入关键词" />
			<a @click="search" class="ylb-search-btn"><i class="icon-ylbicon-05"></i></a>
		</div>
		<div class="ylb-menu-wrap">
			<ul>
				<li>全部商品分类</li>
				<li @mouseover="changeslist" data-id="{{f.code}}" v-for="f in flist"><a href="list.html?n={{f.name}}&k1={{f.code}}">{{f.name}}</a></li>
				<li><a v-for="s in slist" href="list.html?n={{s.name}}&k2={{s.code}}">{{s.name}}></a></li>
			</ul>

		</div>
	</div>
	<footer class="ylb-footer">
		<p>Copyright 2016-2017 <br>湘 ICP备 1002349号－1</p>
	</footer>
</body>
<script src="js/libs/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="js/libs/vue.min.js" type="text/javascript"></script>
<script src="js/libs/pickday.min.js" type="text/javascript"></script>
<script src="js/libs/qrcode.min.js" type="text/javascript"></script>
<script src="js/libs/dropzone.js" type="text/javascript"></script>
<script src="js/base.js?rev=fe68d1ed51395ec2a37f09904f593d85" type="text/javascript"></script>

<script type="text/javascript" src="js/edit.js?rev=fe68d1ed51395ec2a37f09904f593d85"></script>


</html>