<!DOCTYPE html>
<html>

<head>

<title>优良宝商城</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="优良宝" />
	<meta name="keywords" content="优良宝" />
	<link rel="shortcut icon" type="image/png" href="public/img/favicon.png" />



	<link rel="stylesheet" type="text/css" href="css/style.css?rev=047cd9c94da7428013db20e775e948c3" />
	<link rel="stylesheet" type="text/css" href="css/pickday.css" />
	<link rel="stylesheet" type="text/css" href="css/ylbicon.css?rev=047cd9c94da7428013db20e775e948c3" />
</head>

<body>
	<header class="ylb-header">
		<a class="ylb-home" href="index.html"><i class="icon-ylbicon-28"></i></a>
		<a class="ylb-menu"><i class="icon-ylbicon-06"></i></a>
		<a class="ylb-shops" href="shops.html"><i class="icon-ylbicon-26"></i></a>
		<label>优良宝商城系统试测试中，更多功能敬请期待...</label>
		<a class="ylb-search"><i class="icon-ylbicon-05"></i></a>
		<a class="ylb-customer" href="customer.html"><i class="icon-ylbicon-01"></i>
			<!--<ul>
				<li><a href="customer.html"><i class="icon-ylbicon-27"></i>个人中心</a></li>
				<li><a href="shopcart.html"><i class="icon-ylbicon-23"></i>购物车</a></li>
				<li><a class="logout"><i class="icon-ylbicon-29"></i><em class="btn-logout">注销登录</em><em class="btn-login">登录</em></a></li>
			</ul>-->
		</a>
	</header>

<section class="index-main" id="index-main" v-cloak>
    <div class="ylb-inlinewrap l1">
        <div class="d1 index-img ylb-hidden ylb-relative">
            <article>
                <span>{{banner[0].images[0].brief}}</span>
                <a href="{{banner[0].images[0].url}}">详情</a>
                <div></div>
            </article>
            <img :src="banner[0].images[0].image||'images/index-1.jpg'" />
        </div>
        <div class="d2 index-img ylb-hidden ylb-relative">
            <article>
                <span>{{banner[1].images[0].brief}}</span>
                <a href="{{banner[1].images[0].url}}">详情</a>
                <div></div>
            </article>
            <img :src="banner[1].images[0].image||'images/index-2.jpg'" />
        </div>
    </div>
    <div class="ylb-inlinewrap l2">
        <div class="d1 index-img ylb-hidden ylb-relative">
            <article>
                <span>{{banner[2].images[0].brief}}</span>
                <a href="{{banner[2].images[0].url}}">详情</a>
                <div></div>
            </article>
            <img :src="banner[2].images[0].image||'images/index-3.jpg'" />
        </div>
        <div class="d2 ylb-hidden ylb-relative">
            <span>所有产品</span>
            <a href="list.html?c=0">详情</a>
        </div>
    </div>
    <div class="ylb-inlinewrap l3">
        <div class="dt">
            <div class="d1 index-img ylb-hidden ylb-relative">
                <article>
                    <span>{{banner[3].images[0].brief}}</span>
                    <a href="{{banner[3].images[0].url}}">详情</a>
                    <div></div>
                </article>
                <img :src="banner[3].images[0].image||'images/index-4.jpg'" />
            </div>
        </div>
        <div class="dd">
            <div class="d2 index-img ylb-hidden ylb-relative">
                <article>
                    <span>{{banner[4].images[0].brief}}</span>
                    <a href="{{banner[4].images[0].url}}">详情</a>
                    <div></div>
                </article>
                <img :src="banner[4].images[0].image||'images/index-5.jpg'" />
            </div>
            <div class="d3 index-img ylb-hidden ylb-relative">
                <article>
                    <span>{{banner[5].images[0].brief}}</span>
                    <a href="{{banner[5].images[0].url}}">详情</a>
                    <div></div>
                </article>
                <img :src="banner[5].images[0].image||'images/index-6.jpg'" />
            </div>
        </div>
    </div>
    <div class="ylb-graybox index-gray" v-show="grayshow" @click="hideall">
        <h1>尊敬的用户您好：</h1>
        <p>优良宝商城系统内测正式开启，内测期间如发生数据异常，请各级用户及时反馈给公司市场部客服，以便及时解决问题。</p>
        <p>为了用户更便捷的操作系统，内测期间网站系统会随时进行升级和优化，页面功能键及页面布置会随着优化更新而有所调整，调整后公司会及时在微信公众号、QQ群里发布调整通知。</p>
        <p>内测期间所有数据会通过云服务器记录存档，对于因系统出错发生的数据异常多得或少得及其他相关问题，公司技术人员根据后台数据以及服务器记录，通过技术手段及时将用户数据修正，因此而造成不便之处，请各用户谅解。</p>
        <p>我们将以最大的热情，诚挚的态度为您服务，谢谢！！！！</p>
        <h2>市场部客服</h2>
        <div class="contact">
            <div>
                <p>王凤民</p>
                <p>手机：13429075859</p>
                <p>QQ：2673355342</p>
                <p>微信：13429075859</p>
            </div>
            <div>
                <p>胡芳群</p>
                <p>手机：18273753682</p>
                <p>QQ：3487372596</p>
                <p>微信：18273753682</p>
            </div>
        </div>
    </div>
    <div class="ylb-show-cover" v-show="cover" @click="hideall"></div>
</section>

	<div id="ylb-layout">
		<div class="ylb-cover"></div>
		<div class="ylb-search-wrap">
			<input class="ylb-search-txt" type="search" v-model="sc" placeholder="请输入关键词" />
			<a @click="search" class="ylb-search-btn"><i class="icon-ylbicon-05"></i></a>
		</div>
		<div class="ylb-menu-wrap">
			<ul>
				<li>全部商品分类</li>
				<li @mouseover="changeslist" data-id="{{f.code}}" v-for="f in flist"><a href="list.html?k1={{f.code}}">{{f.name}}</a></li>
				<li><a v-for="s in slist" href="list.html?k2={{s.code}}">{{s.name}}></a></li>
			</ul>

		</div>
	</div>
	<footer class="ylb-footer">
		<div class="ylb-doclist">
			<a>联系我们400-9016-899</a>
			<a href="agreemengt.html">用户协议</a>
			<a href="pointrule.html">积分规则</a>
			<a href="disclaimer.html">免责申明</a>
			<a href="refund.html">七天无理由退换货</a>
			<p>Copyright 2016-2017 湘 ICP备 1002349号－1</p>
		</div>
	</footer>
</body>
<script src="js/libs/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="js/libs/vue.min.js" type="text/javascript"></script>
<script src="js/libs/pickday.min.js" type="text/javascript"></script>
<script src="js/libs/qrcode.min.js" type="text/javascript"></script>
<script src="js/libs/dropzone.js" type="text/javascript"></script>
<script src="js/base.js?rev=047cd9c94da7428013db20e775e948c3" type="text/javascript"></script>

<script type="text/javascript" src="js/index.js?rev=047cd9c94da7428013db20e775e948c3"></script>


</html>