<!DOCTYPE html>
<html>

<head>

<title>支付方式</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="优良宝" />
	<meta name="keywords" content="优良宝" />
	<link rel="shortcut icon" type="image/png" href="public/img/favicon.png" />



	<link rel="stylesheet" type="text/css" href="css/style.css?rev=fa2e37f8d4602a6451022d8b5d64d86d" />
	<link rel="stylesheet" type="text/css" href="css/pickday.css" />
	<link rel="stylesheet" type="text/css" href="css/ylbicon.css?rev=fa2e37f8d4602a6451022d8b5d64d86d" />
</head>

<body>
	<header class="ylb-header">
		<a class="ylb-home" href="index.html"><i class="icon-ylbicon-28"></i></a>
		<a class="ylb-menu"><i class="icon-ylbicon-06"></i></a>
		<a class="ylb-shops" href="shops.html"><i class="icon-ylbicon-26"></i></a>
		<label>优良宝商城系统试测试中，更多功能敬请期待...</label>
		<a class="ylb-search"><i class="icon-ylbicon-05"></i></a>
		<div class="ylb-customer"><i class="icon-ylbicon-01"></i>
			<ul>
				<li><a href="customer.html"><i class="icon-ylbicon-27"></i>个人中心</a></li>
				<li><a href="shopcart.html"><i class="icon-ylbicon-23"></i>购物车</a></li>
				<li><a class="logout"><i class="icon-ylbicon-29"></i><em class="btn-logout">注销登录</em><em class="btn-login">登录</em></a></li>
			</ul>
		</div>
	</header>

<section id="pay-main" class="pay-main" v-cloak>
    <!--<ul class="pay-cource">
        <li><span>1</span><br>确认订单信息</li>
        <li class="select"><span>2</span><br>付款方式</li>
        <li><span>3</span><br>确认收货</li>
    </ul>-->
    <div class="pay-detail">
        <h1 v-for="p in order.product">{{p.name}}</h1>
        <h2>订单提交成功，请您尽快付款！<br>订单号：{{id}}</h2>
        <p>
            <em>积分支付:<span>{{order.payInScore}}</span>元</em> 
            <em>余额支付:<span>{{order.payInBalance}}</span>元</em>
            <em>货款支付:<span>{{order.payInPaymentForGoods}}</span>元</em> 
            <em>佣金支付:<span>{{order.payInCommission}}</span>元</em> 
            <em>现金支付:<span>{{order.payInCash}}</span>元</em></p>
    </div>
    <div class="pay-way">
        <h1>现金部分请选择支付方式</h1>
        <!--<input name="payway" @change="selectpayway(1)" type="radio" checked="{{payway==1}}" id="zfb"><label for="zfb">支付宝支付</label>-->
        <input name="payway" @change="selectpayway(2)" type="radio" checked="{{payway==2}}" id="wy"><label for="wy">网银支付</label>
    </div>
    <div class="payorder"><button @click="payorder">确认支付</button></div>
</section>

	<div id="ylb-layout">
		<div class="ylb-cover"></div>
		<div class="ylb-search-wrap">
			<input class="ylb-search-txt" type="search" v-model="sc" placeholder="请输入关键词" />
			<a @click="search" class="ylb-search-btn"><i class="icon-ylbicon-05"></i></a>
		</div>
		<div class="ylb-menu-wrap">
			<ul>
				<li>全部商品分类</li>
				<li @mouseover="changeslist" data-id="{{f.code}}" v-for="f in flist"><a href="list.html?k1={{f.code}}">{{f.name}}</a></li>
				<li><a v-for="s in slist" href="list.html?k2={{s.code}}">{{s.name}}></a></li>
			</ul>

		</div>
	</div>
	<footer class="ylb-footer">
		<div class="ylb-doclist">
			<a>联系我们400-9016-899</a>
			<a href="agreemengt.html">用户协议</a>
			<a href="pointrule.html">积分规则</a>
			<a href="disclaimer.html">免责申明</a>
			<a href="refund.html">七天无理由退换货</a>
			<p>Copyright 2016-2017 湘 ICP备 1002349号－1</p>
		</div>
	</footer>
</body>
<script src="js/libs/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="js/libs/vue.min.js" type="text/javascript"></script>
<script src="js/libs/pickday.min.js" type="text/javascript"></script>
<script src="js/libs/qrcode.min.js" type="text/javascript"></script>
<script src="js/libs/dropzone.js" type="text/javascript"></script>
<script src="js/base.js?rev=fa2e37f8d4602a6451022d8b5d64d86d" type="text/javascript"></script>

<script type="text/javascript" src="js/pay.js?rev=fa2e37f8d4602a6451022d8b5d64d86d"></script>


</html>